# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb

# Bibliography
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Algorithm package
*.alg
*.loa

# Nomenclature
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# Hyperref
*.brf

# knitr
*-concordance.tex

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# Beamer
*.nav
*.pre
*.snm
*.vrb

# Changes package
*.soc

# Comment package
*.cut

# Listings package
*.lol

# Todonotes
*.tdo

# MacOS
.DS_Store

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Keep the PDF output (comment out if you don't want to track PDFs)
# *.pdf
